*{margin: 0;padding: 0;}
input{
    outline: none;
    border: 0;
    border: 1px solid #000;
}
html, body ,#app,.home ,.el-container{ 
    height: 100%;
}
.bg{
    width: 100%;
    height: 100%;
  }
  
.demo-loginFrom .el-form-item__label{
    color: #fff !important;
  }
  
.demo-loginFrom .el-input__inner{
    background: rgba(255, 255, 255, 0);
    color: #fff;
  }
  .el-menu--collapse .el-submenu__title span {
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
}

.el-menu--collapse .el-menu-item .el-submenu__icon-arrow, .el-menu--collapse .el-submenu .el-submenu__title .el-submenu__icon-arrow {
    display: none;
}

.el-menu-item-group .el-menu-item {
    padding: 0 0 0 30px;
}

.el-menu-item-group .el-menu-item-group__title {
    padding: 0
}

#nprogress .bar {
    background: hotpink !important;
}

#nprogress .bar { /*进度条样式*/
    background: red !important;
}

.spinner-icon {/*圆圈样式*/
border-top-color: #f56c6c!important;
border-left-color: #003df1!important;
}